<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button >
      </ion-back-button>
    </ion-buttons> 
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isConf">
    <h2 class="text-center"> Recuperer mot de pass</h2>
    <br>
    <div class="input-group mb-3">
      <ion-input name="phone" type="phone" class="form-control" [(ngModel)]="phone"  placeholder="Numero telephone" > </ion-input>
      <button class="btn btn-secondary" type="button" id="button-addon2" (click)="envoyer()" [disabled]="!phone" *ngIf="phone">
        Envoyer
      </button>
    </div>
  </div>

  <div *ngIf="isConf">
    <h2 class="text-center"> Confirm </h2>
    <br>
    <div class="input-group mb-3">
      <ion-input type="text" class="form-control" [(ngModel)]="code"  placeholder="Code confirm" > </ion-input>
      <button class="btn btn-secondary" type="button" id="button-addon2" (click)="confirm()" [disabled]="code == '' ">
        Envoyer
      </button>
    </div>
  </div>

</ion-content>
  