<ion-header>
  <ion-toolbar>
    <ion-toolbar>
      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-title>newPassword</ion-title>
    </ion-toolbar> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="addPassword(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
      </ion-row>

      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div class="text-center">
          <h1>Modification Mot de Pass</h1>
        </div>
        <br>
        <div padding>
           
          <ion-row>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <ion-icon name="key-outline"></ion-icon>
              </span>
              <input type="password" class="form-control" name="password" placeholder="New password" aria-label="password" aria-describedby="basic-addon1" ngModel required>
            </div>
          </ion-row>

          <ion-row>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon2">
                <ion-icon name="key-outline"></ion-icon>
              </span>
              <input type="password" class="form-control" placeholder="Confirm password" name="confPassword" aria-label="password" aria-describedby="basic-addon2" ngModel required>
            </div>
          </ion-row>
        </div>

        <div padding>
          <ion-button size="large" type="submit" [disabled]="form.invalid || form.value['password'] != form.value['confPassword'] " color="secondary" expand="block">
            Modifier
          </ion-button>
        </div>
      </ion-col>


    </ion-grid>
  </form>

</ion-content>
