<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button >
      </ion-back-button>
    </ion-buttons> 
    
    <ion-title >Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="wiht" padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
      </ion-row>

      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
         
        <div padding>
          <!--
            <ion-item>
            <ion-input name="Id" type="number" placeholder="Id" ngModel required></ion-input>
          </ion-item>
          -->
          <div *ngIf="phoneRepeat" padding  class="alert alert-danger" role="alert">
             Phone repeat , Have you a compte?
          </div>

          <!--Img-->
          <ion-card-subtitle>
            <div class="flex">
              <div class="img-box">
                <img *ngIf="this.mediaService.captureDataUrl" src="{{this.mediaService.captureDataUrl}}" alt="" srcset="">
                <div><img [hidden]="!this.mediaService.showIcon" src="../../assets/images/userIm.png">
                  <div class="camera" slot="end">
                    <ion-icon name="camera" (click)="selectImage()"></ion-icon>
                  </div></div>
                
              </div>
              
            </div>
          </ion-card-subtitle>
          <!--First Name and Last Name-->
          <ion-row>
            <ion-col>
              <ion-input name="firstName" type="text" placeholder="First Name " ngModel required>
                <ion-icon slot="start" name="person-outline"></ion-icon>
              </ion-input>
            </ion-col>
            
            <ion-col>
              <ion-input name="lastName" type="text" placeholder="Last Name " ngModel required>
                <ion-icon slot="start" name="person-outline"></ion-icon>
              </ion-input>
            </ion-col>
          </ion-row>
          <!--Identifiant-->
          <ion-row>
            <ion-input name="identifiant" type="text" placeholder="Identifiant" ngModel required>
              <ion-icon slot="start" name="id-card-sharp"></ion-icon>
            </ion-input>
          </ion-row>
          <!--Email and Phone-->
          <ion-row>
            <ion-col>
              <ion-input name="email" type="email" placeholder="Email" ngModel required>
                <ion-icon slot="start" name="mail-outline"></ion-icon>
              </ion-input>
            </ion-col>
            
            <ion-col>
              <ion-input name="phone" type="phone" placeholder="Phone " ngModel required>
                <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
              </ion-input>
            </ion-col>
          </ion-row>
          <!--Password and confrmed -->
          <ion-row>
            <ion-col>
              <ion-input name="password" type="{{Password}}" placeholder="Password" ngModel required>
                <ion-icon slot="start" name="key-outline"></ion-icon>
               
              </ion-input>
            </ion-col>
            
            <ion-col>
              
              <ion-input name="confPassword" type="{{Password}}" placeholder="Confirm Password" ngModel required>
                <ion-icon slot="start" name="key-outline"></ion-icon> 
              </ion-input>
            </ion-col>
            
          </ion-row> 
          <ion-row>
            <ion-col>
              <ion-checkbox name="cheMe" (click)="toggleShow()"></ion-checkbox>
              <ion-label>   Show password</ion-label>
            </ion-col>
          </ion-row>
         
        </div>
       
        <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid || form.value['password'] != form.value['confPassword'] " color="success" expand="block">
            <span *ngIf="!loading">Register</span>
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="loading" class="visually-hidden">Loading...</span>
          </ion-button>
        </div>
       
      </ion-col>
    </ion-grid>
  </form>

   <!--Img-->
 <!--
     <button class="im" (click)="tstCamera()">
    Get Image
   </button>
 -->
</ion-content>
